<link rel="stylesheet" href="/css/styles.css">
<%- include('component/navbar') %>

<div class="about-page">
    <div class="middle-content">
    <h1>Who are we?</h1>
    <p>Recipe Roulette is a website made by food enthusiasts, we believe the <br> best recipes should be found in one space, which is why this RR was created! <br> You can sign up and add recipes on your dashboard, too lazy? Just browse recipes that have already been added!<br> This is a safe place for <s>everyone</s> most people. We are totally not a secret society...</p>

    <h3>Find out more by asking Dr Roulette RoboMatic, the chatbot!</h3>
    <div class="chatterbox">
        <%- include('component/chatbot') %>
    </div>
</div>
</div>