<link rel="stylesheet" href="/css/styles.css">
<%- include('component/navbar', {user: user}) %>
<div class="dashboard">
    <div class="user-info"
    <h2>Welcome, <%= user.username %></h2>
</div>
</div>