<!DOCTYPE html>
<!--main.ejs is like the container of all the pages-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Recipe Roulette</title>
</head>
<body>
   <%- include('component/navbar') %>
   <%- include('component/headermain') %>
</body>
</html>