@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
:root{
    background-color: rgba(0, 0, 0, 0.986);
    color: whitesmoke;
    font-family: 'Hedvig Letters Serif', serif;
}

body {
    margin: 0;
    padding: 0;
}

/*NAV BAR STYLING/outline*/
.navbar {
    color: white;
    overflow: hidden;
    display: flex;
}

.left-section {
    float: left;
}

.right-section {
    float: right;
    font-size: 3vh;
    
    
}

.logo {
    max-width: 22vh; 
    height: 13vh; 
    margin: 30px 10px 10px 10px;
}
/*navlink and search stuff*/
.right-section a, .right-section input {
    display: inline-block;
    margin: 50px; 
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

.right-section a:hover{
color: #fc8877;
text-decoration: line-through;
}

.right-section input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000000;
}

.Search{

  color: #000000;
}


/* MAINPAGE CSS*/
.main-page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70vh; 
    font-size: 9vh;
    line-height: 0.6;
    background-color: #141414;
  }
  
  .left-section {
    text-align: left;
    padding-left: 3vh;

    /* padding: 20px; */
  }
  
  .pink-text {
    color: #fc8877; 
    font-size: 50px; 
    padding-left: 10px;
    
  }

  .home-button {
    margin-left: 10px;
    color: #000000; 
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.6em 1.6em;
    margin: 0.6em;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.home-button:hover {
    color: blue ;
    background-color: goldenrod;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px #fc8877;

}
  
  .white-text {
    color: #ffffff; 
    font-size: 30px; 
    padding-left: 10px;

    margin: 0;
  }

  /*gallery*/
  .right-section{
    float: right;
    margin-left: auto;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
  }

  .image-gallery{
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    padding-right: 9vh;
    margin-top: 5vh;
    width: 800px;
    height: 600px;
  }

  .image-gallery img {
    height: 500px;
    object-fit: cover;
    max-width: 100%;
  }

  /*SIGN IN LOG IN CSS*/
  .signin {
    display: flex;
    background: url('https://media.giphy.com/media/5H9lYCAg46Vp2dAqsu/giphy.gif');
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .title-sign-in {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sign-in-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd; 
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .form-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .email,
  .password {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .minitext{
    text-decoration: underline white;
    color: white;
  }


.dashboard{
      width: 80%;
      margin: 50px auto;
      padding: 20px;
      color: #000000;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      font-size: 30px;
      background-color: #ddd;
  }

  .user-info {
    text-align: center;
  }

  .user-info h2 {
    color: #000000;
  }

  .user-info p {
    color: #777;
  }

  /*RECIPE */
  .recipe-list {
    display: flex;
    background-color: #141414;
    box-shadow: 0 0 10px  #fc8877;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #000000;
  width: 20%; 
  margin: 10px;
  box-sizing: border-box;
  /* margin: 10px; */
  padding: 15px;
  max-width: 300px;
  display: flex; 
  flex-direction: column; 
  transition: transform 0.3s ease-in-out;
}

.recipe-box img {
  max-width: 100%;
  max-height: 100%; 
  height: auto;
  border-radius: 8px;
  flex-shrink: 0;
}

.recipe-box h2 {
    margin-top: 10px;
    font-size: 1.5em;
    flex-grow: 1;
}

.recipe-box a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    
}

.recipe-box:hover {
  transform: scale(1.05);
}

.recipe-box a:hover{
  text-decoration: line-through;
}

/*RECIPE DETAILS*/
.recipe-details {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  font-size: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-details h1 {
  color: #000000;
}

/*fix*/
.recipe-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.recipe-details p {
  color: #555;
  margin-top: 10px;
}

.recipe-details a {
  display: block;
  color: #fc8877;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
}

.recipe-details a:hover {
  text-decoration: underline;
}


/*ABOUT PAGE*/
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #000000;
  align-items: center;
  background: url(https://ibb.co/Fzt4ccv)
}

.middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center; 
  transition: transform 0.5s ease;
}

.middle-content h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.middle-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.chatterbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.middle-content :hover{
  transform: scale(1.15);
}

/*This button is from - https://uiverse.io/barisdogansutcu/fuzzy-bullfrog-72*/
#addRecipeButton{
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
#addRecipeButton:hover{
  letter-spacing: 3px;
  background-color: #fc8877;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
#addRecipeButton:active{
  letter-spacing: 3px;
  background-color: #fc8877;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


/*?Comment*/
.comment-section{
  width: 30vh;
}
.comment {
  margin-bottom: 15px;
  color: #000000;
  font-weight: 600;
  padding: 15px;
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: #fc8877; 
}

.comment p {
  margin: 0;
}

.comment p:last-child {
  margin-top: 10px; 
}
/*Form comment*/

.comment-form {
  max-width: 600px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
}
.comment-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px; 
  box-sizing: border-box; 
}
.comment-button{
  background-color: #fc8877;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.comment-button:hover {
  background-color: #e56b63; 
}