:root{
    background-color: rgba(0, 0, 0, 0.986);
    color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
}

/*NAV BAR STYLING/outline*/
.navbar {
    color: white;
    overflow: hidden;
}

.left-section {
    float: left;
}

.right-section {
    float: right;
    font-size: 3vh;
    
    
}

.logo {
    max-width: 22vh; 
    height: 13vh; 
    margin: 30px 10px 10px 10px;
}
/*navlink and search stuff*/
.right-section a, .right-section input {
    display: inline-block;
    margin: 50px; 
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

.right-section a:hover{
color: #fc8877;
text-decoration: line-through;
}

.right-section input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* MAINPAGE CSS*/
.main-page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70vh; 
    font-size: 9vh;
    line-height: 0.6;
  }
  
  .left-section {
    text-align: left;
    padding-left: 3vh;

    /* padding: 20px; */
  }
  
  .pink-text {
    color: #fc8877; 
    font-size: 50px; 
    padding-left: 10px;
    
  }
  
  .white-text {
    color: #ffffff; 
    font-size: 30px; 
    padding-left: 10px;

    margin: 0;
  }

  /*gallery*/
  .right-section{
    float: right;
    margin-left: auto;
    margin-top: 20px;
    overflow: hidden;

  }

  .image-gallery{
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    padding-right: 9vh;
    margin-top: 5vh;
    width: 800px;
    height: 600px;
  }

  .image-gallery img {
    height: 500px;
    object-fit: cover;
    max-width: 100%;
  }

  /*SIGN IN LOG IN CSS*/
  .signin {
    display: flex;
    background: url('https://media.giphy.com/media/5H9lYCAg46Vp2dAqsu/giphy.gif');
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .title-sign-in {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sign-in-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }
  
  .form-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .email,
  .password {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .minitext{
    text-decoration: underline white;
    color: white;
  }


.dashboard{
      width: 80%;
      margin: 50px auto;
      padding: 20px;
      color: #000000;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      font-size: 30px;
      background-color: #ddd;
  }

  .user-info {
    text-align: center;
  }

  .user-info h2 {
    color: #000000;
  }

  .user-info p {
    color: #777;
  }

  /*RECIPE */
  .recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.recipe-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-box h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.recipe-box a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}