<div class="main-page-header">
    <div class="left-section">
      <p>Are you hungry?<br>
        <span class="pink-text">Find a recipe today</span><br>
        <span class="white-text">Explore a world of culinary delights</span>
      </p>
    </div>
  </div>